<div class="homepage">
  <header class="header">
      <div class="logo">FoodDelivery</div>
      <nav class="nav">
        <button (click)="goToHome()">Home</button>
        <button (click)="goToMenu()">View Menu</button>
        <button (click)="goToOrders()">Track Orders</button>
        <button (click)="goToCart()">Cart</button>
        <button (click)="goToRestaurant()">Restaurants</button>
        <button href="#">Logout</button>
        
      </nav>
    </header>  
    <section class="hero">
      <div class="hero-text">
        <h1>Delicious food delivered to your door</h1>
        <p>Order from the best restaurants near you</p>
        <input type="text" placeholder="Enter your location" />
      </div>
      <!-- Food Gallery -->
      <div class="food-gallery">
       <img src="assets/images/burger.jpg" alt="Burger">
       <img src="assets/images/pizza.jpg" alt="Pizza">
       <img src="assets/images/chickenbiryani.jfif" alt="Biryani">
      </div>
    </section>  <section class="restaurants">
      <h2>Popular Restaurants</h2>
      <div class="card-container">
        <ul>
        <h1><img src="assets/images/burger.jpg" alt="Zeeshan"></h1>
        <h1><img src="assets/images/burger.jpg" alt="Supriya"></h1>
        </ul>

        
      </div>
    </section>
  </div>


  <!--<div class="dashboard-container">
    <h2>Welcome, {{ customerName }}!</h2>
   
    <div class="dashboard-buttons">
      <button (click)="goToMenu()">View Menu</button>
      <button (click)="goToOrders()">Track Orders</button>
      <button (click)="goToCart()">Cart</button>
    </div>
  </div>-->