.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
}

.logo {
  color: white;
  font-size: 24px;
}

input[type="text"] {
  width: 25%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

.nav button {
  margin-left: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.nav button:hover {
  background-color: #76808b;
  transform: scale(1.05);
}

.nav button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.food-gallery img {
  width: 100%;
  max-width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.food-gallery img:hover {
  transform: scale(1.1);
}

.restaurants {
  padding: 50px 20px;
  background-color: #f1f1f1;
}

.restaurants h2 {
  text-align: center;
  margin-bottom: 30px;
}

.card-container ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-container ul h1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.card-container ul h1 img:hover {
  transform: scale(1.1);
}
